# Credential files
.argocd/
*-password
*_password
*.env
.env
.qodo

# Secret environment files
discord-webhook-secret.yaml
github-repo-secret.yaml
updated-slack-config.yaml
slack-webhook-secret.yaml

# GitHub Actions runner
actions-runner/

